*{
    margin: 0;
    padding: 0;
}
.sidenav{
    height: 94vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    bottom: 10px;
    overflow-x: hidden;
    background-color: #6c63ff;
    padding-top: 20px;
    border-radius: 0px 70px 70px 0px; overflow: hidden;
}
.sidenav img{
    display: block;
    width: 160px;
    height: 35px;
    margin: 0 25px;
    margin-top: 7%;
    position: relative;
    right: 25px;
}
.sidenav a{
    padding: 4px 4px 4px 25px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    display: block;
}
.sidenav a:hover{
    color: #ffd05b;
}
.sidenav .btn{
    background-color: #ffd05b;
    border-radius: 5px;
    border: none;
    min-height: 45px;
    min-width: 225px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: 5%;
}
.sidenav a#lgt{
    position: relative;
    top: 10%;
    left: 6%;
    color: #ffd05b;
}
.sidenav a#lgt:hover{
    color: #ebbf50;
}
.sidenav #logt{
    width: 20px;
    height: 60px;
    position: relative;
    right: 10px;
    top: 111px;
}