*{
    margin: 0;
    padding: 0;
}
.first{
    height: 750px;
    width: 35%;
    background-color: #6c63ff;
    float: left;
}
.second{
    height: 700px;
    width: 65%;
    background-color: #ffffff;
    float: right;
}
.first .logo img{
    display: block;
    width: 300px;
    height: 65px;
    margin: 0 auto;
    margin-top: 10%;
}
.first .ilstrn img{
    display: block;
    width: 300px;
    height: 270px;
    margin: 0 auto;
    margin-top: 35%;
}
.second .title{
    margin-top: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: #2f2e41;
    text-align: center;
 }
 .second .subtl{
     margin-top: 15px;
     text-align: center;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: #2f2e41;
     font-size: 18px;
     font-weight: 400;
 }
 .second .title{
     font-size: 28px;
     font-weight: bold;
 }
 .second .form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2f2e41;
    accent-color: #6c63ff;
    position: relative;
    left: 23%;
 }
 .second .cntn{
    background-color: #ffd05b;
    border-radius: 5px;
    border: none;
    min-height: 40px;
    min-width: 460px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cntn:hover{
    background-color: #ebbf50;
}